<a href="https://colab.research.google.com/github/sreeradham/Data-Science-and-Analytics-ICT-course/blob/main/Sreeradha_M_ICT_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd

# Assuming 'titanic.csv' is the name of the Titanic dataset file
titanic_df = pd.read_csv('/content/sample_data/titanic_dataset.csv')

In [33]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Make 'PassengerId' as the index column:

In [35]:
titanic_df.set_index('PassengerId', inplace=True)

Check the basic details of the dataset:

In [36]:
print(titanic_df.info())
print(titanic_df.describe())
print(titanic_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

Fill in all the missing values present in all the columns in the dataset:

In [37]:
# For numerical columns, fill missing values with mean or median
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)

# For categorical columns, fill missing values with the most frequent value
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)

Check and handle outliers in at least 3 columns in the dataset:

In [38]:
# For example, if you want to handle outliers in the 'Age', 'Fare', and 'SibSp' columns:

# Calculate the Z-scores for the columns
from scipy.stats import zscore
z_scores = zscore(titanic_df[['Age', 'Fare', 'SibSp']])

# Identify and remove rows with outliers
titanic_df = titanic_df[(z_scores < 3).all(axis=1)]

In [39]:
titanic_df = titanic_df.drop('Name', axis=1)
titanic_df = titanic_df.drop('Ticket', axis=1)
titanic_df = titanic_df.drop('Cabin', axis=1)

In [40]:
titanic_df = pd.get_dummies(titanic_df, columns=['Sex', 'Embarked'])

Do min-max scaling on the feature set (Take 'Survived' as the target):

In [41]:
from sklearn.preprocessing import MinMaxScaler

# Split the data into features (X) and target (y)
# titanic_df = titanic_df.drop('Name', axis=1)

X = titanic_df.drop('Survived', axis=1)
y = titanic_df['Survived']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the feature set
X_scaled = scaler.fit_transform(X)